/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/06/2019, 12:03:24
    Author     : Elias Acosta
*/
html {
    min-height: 100%;
    position: relative;
}

#content{
    margin-bottom: 45px;
}

#bottom{
    background: rgb(51,225,227);
    background: linear-gradient(90deg, rgba(51,225,227,1) 0%, rgba(51,53,163,1) 50%, rgba(252,57,236,1) 100%);color: white;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#top{
    margin-bottom: 15px;
}

#filtrarSector{
    margin-bottom: 15px;text-align: center;
}

.ui-datagrid{
    width: 85%;
    margin: 0 auto;
}
